/build/
/.gradle/
/bin/
/target

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/vcs.xml
.idea/misc.xml



/.env

/tmp
/1234/
/.vscode/
.qoder/rules/
/fx/
/.idea/copilot.data.migration.*.xml


# Node 依赖
node_modules/
# esbuild 的分析产物（--metafile 输出）
meta.json
# 临时安装过程中可能出现的锁文件碎片（一般保留正式 lock 文件）
npm-debug.log*
nodejs/

pdfjs/
*.log

src/main/resources/web/vditor.bundle.js
src/main/resources/web/vditor.bundle.css
src/main/resources/web/vditor/dist


/.idea/jsLibraryMappings.xml
/.settings/org.eclipse.buildship.core.prefs


dist/