.radio-button-style {
    -fx-background-color: -el-color-default-bg;
    -fx-text-fill: -el-color-default-text;
    -fx-border-color: -el-color-default-border;
    -fx-border-width: 1;
    -fx-padding: 4 15 4 15;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.radio-button-style:hover {
    -fx-text-fill: -el-color-primary;
}

.radio-button-style:selected {
    -fx-background-color: -el-color-default-active-bg;
    -fx-text-fill: -el-color-primary;
    -fx-border-color: -el-color-plain-primary-border;
    -fx-z-index: 1;
}

.radio-button-style:selected:hover {
     -fx-background-color: -el-color-default-active-bg;
     -fx-border-color: -el-color-plain-primary-border;
     -fx-text-fill: -el-color-primary;
}

/* --- Manual Grouping Styles --- */

/* Shared style for all buttons in a group */
.radio-button-group > .radio-button-style {
    -fx-margin: 0 0 0 -1;
}
.radio-button-group > .radio-button-style.first-in-group {
    -fx-margin: 0;
}

/* Manual classes for positioning */
.first-in-group {
    -fx-border-radius: 6 0 0 6;
    -fx-background-radius: 6 0 0 6;
}

.middle-in-group {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.last-in-group {
    -fx-border-radius: 0 6 6 0;
    -fx-background-radius: 0 6 6 0;
}
