*{
  -el-switch-on-color: #409eff;
  -el-switch-off-color:  #dcdfe6
}


.switch > .container {
    -fx-background-color: -el-switch-off-color;
    -fx-background-radius: 10px;
}

.switch:on > .container {
    -fx-background-color: -el-switch-on-color;
}


.switch >.container > .knob  {
    -fx-background-color: WHITE;
}