/build/
/.gradle/
/bin/
/target

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/vcs.xml
.idea/misc.xml



/.env

/.vscode/
/.idea/copilot.data.migration.*.xml



#自动生成
/src/main/resources/web/


/.idea/jsLibraryMappings.xml
/.settings/org.eclipse.buildship.core.prefs

dist/

TODO.md


