/build/
/.gradle/
/bin/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/copilot.data.migration.*.xml
.idea/jsLibraryMappings.xml


/.vscode/


