@import "colors.css";

/*阴影效果*/
/*去掉了，界面简洁点*/
.out-shadow{
    -fx-effect: dropshadow(three-pass-box, #9c9c9c, 10,0,0,0);
    -fx-background-color: white;
}



.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-area:hover {
    -fx-border-color: -el-color-primary;
}

.text-area:focused {
    -fx-background-color: transparent;
    -fx-border-color: -el-color-primary;
    -fx-effect: dropshadow(gaussian, -el-color-primary-shadow, 5, 0.2, 0, 0);
}

.text-area >.corner {
    -fx-background-color: white;
}


/* 去除滚动条背景色，只保留滑块 */

.scroll-bar {
    -fx-background-color: transparent; /* 移除背景色 */
}

/* 去除滚动条的轨道背景色 */
.scroll-bar .track {
    -fx-background-color: transparent; /* 透明轨道 */
    -fx-background-radius: 10px;    /* 圆角效果 */
    -fx-border-radius: 10px;        /* 边框圆角 */
}

/* 设置滚动条滑块的颜色 */
.scroll-bar .thumb {
    -fx-background-color: #888888; /* 滑块的颜色 */
    -fx-background-radius: 10px;    /* 圆角效果 */
    -fx-border-radius: 10px;        /* 边框圆角 */
}

/* 当滑块悬停时，改变其颜色 */
.scroll-bar .thumb:hover {
    -fx-background-color: #555555; /* 悬停时的颜色 */
}

/* 设置水平滚动条 */
.scroll-bar:horizontal {
    -fx-pref-height: 10px; /* 设置水平滚动条的高度 */
}

/* 设置垂直滚动条 */
.scroll-bar:vertical {
    -fx-pref-width: 10px; /* 设置垂直滚动条的宽度 */
}

/* 去掉滚动条的增量和减量箭头按钮 */
/* 箭头按钮的区域要设为0，否则占位*/
.scroll-bar .increment-button, /* 增量箭头按钮（右、下） */
.scroll-bar .decrement-button { /* 减量箭头按钮（左、上） */
    -fx-background-color: transparent; /* 设置透明背景 */
    -fx-background-insets: 0; /* 清空背景 */
    -fx-background-radius: 0; /* 清空圆角 */
    -fx-pref-width: 0; /* 宽度设置为 0 */
    -fx-pref-height: 0; /* 高度设置为 0 */
}


/* 箭头图标设置不可见*/
.scroll-bar,
.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
    visibility: hidden;
}

.scroll-pane>.corner{
    -fx-background-color: transparent;
}

.my-button{
    -fx-pref-height: 35;
    -fx-font-size: 12;
    -fx-border-radius: 4px;
    -fx-font-weight: 500;
    /*-fx-effect: dropshadow(three-pass-box, #9c9c9c, 10,0,0,0);*/
}

.button-primary{
    -fx-background-color: -el-color-primary;
    /*snow 与 white 不是一个颜色，snow更红一点*/
    -fx-text-fill:snow;
}

.default-button{
    /*snow 与 white 不是一个颜色，snow更红一点*/
    -fx-text-fill:-el-color-default-text;
    -fx-border-color: -el-color-default-border;
    -fx-background-color: white;
}

.default-button:hover{
    -fx-background-color: -el-color-default-active-bg;
    -fx-border-color: transparent;
    -fx-text-fill: -el-color-default-active-text;
}

.default-button:pressed{
    -fx-background-color: -el-color-default-active-bg;
    -fx-border-color: -el-color-plain-primary-border;
    -fx-text-fill: -el-color-default-active-text;
}


.plain-button-primary{
    -fx-background-color: -el-color-plain-primary-bg;
    -fx-text-fill: -el-color-primary;
    -fx-border-color: -el-color-plain-primary-border;
}

.plain-button-primary:hover{
    -fx-text-fill: snow;
    -fx-background-color: -el-color-primary;
    -fx-border-color: -el-color-primary;
}

.plain-button-primary:pressed{
    -fx-text-fill: snow;
    -fx-background-color: -el-color-primary-pressed;
    -fx-border-color: -el-color-primary-pressed;
}


.plain-button-important{
    -fx-background-color: -el-color-plain-important-bg;
    -fx-text-fill: -el-color-important;
    -fx-border-color: -el-color-plain-important-border;
}

.plain-button-important:hover{
    -fx-background-color: -el-color-important;
    -fx-text-fill: snow;
    -fx-border-color: -el-color-important;
}

.plain-button-important:pressed{
    -fx-text-fill: snow;
    -fx-background-color: -el-color-important-pressed;
    -fx-border-color: -el-color-important-pressed;
}




.text-button{
    -fx-background-color: transparent;
    -fx-pref-height: 30px;
}

.text-button:hover{
    -fx-background-color: -el-color-textbtn-hover-bg;
}

.text-button:pressed{
    -fx-background-color: -el-color-textbtn-active-bg;
}

.text-button-lightbg{
    -fx-background-color: -el-color-textbtn-lightbg-bg;
    -fx-pref-height: 30px;
}

.text-button-lightbg:hover{
    -fx-background-color: -el-color-textbtn-lightbg-hover-bg;
}

.text-button-lightbg:pressed{
    -fx-background-color: -el-color-textbtn-lightbg-active-bg;
}


.text-button-primary{
    -fx-text-fill: -el-color-primary;
}

.text-button-info{
    -fx-text-fill: -el-color-info;
}

.text-button-default{
    -fx-text-fill: -el-color-default-text;
}

.my-button:disabled {
    -fx-background-color: snow;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(150, 150, 150, 0.5), 15, 0.5, 0, 0); /* 四周扩散阴影 */
}


.tree-table-view {
    /*-fx-text-fill 设置无效,用下面这行，注意该文字元素和下面标题栏的文字元素实际为label，所以选择label时可以改此颜色*/
    -fx-text-background-color: #888888;
    /*这里有个边框颜色，实际上时背景色*/
    -fx-background-color: transparent;
}


/* 树表格列标题文字样式 */
.tree-table-view .column-header {
    -fx-background-color: white;  /* 去掉背景渐变 */
    /*-fx-text-fill 设置无效,用下面这行*/
    -fx-text-background-color: #888888; /* 设置文字颜色为灰色, */
}

/* 树表格列标题的鼠标悬停效果 */
.tree-table-view .column-header:hover {
    -fx-background-color: #f4f4f4;  /* 悬停时背景颜色 */
}

/* 分隔线颜色 */
.tree-table-view .column-header {
    -fx-border-color: #d1d1d1;  /* 设置分隔线颜色为浅灰色 */
    -fx-border-width: 0 0 1px 0;  /* 只设置底部边框 */
}


.tree-table-view .cell {
    -fx-border-width: 0;
}


.tree-table-view .cell {
    -fx-text-fill: black;  /* 设置选中时的文字颜色 */
}

.tree-table-view .cell:hover {
    -fx-background-color: #f4f4f4;  /* 悬停时背景颜色 */
}

/* 选择状态的样式 */
/*https://stackoverflow.com/questions/21707178/javafx-how-to-set-selected-row-text-color-in-not-focused-tableview*/
.tree-table-view .cell:selected {
    -fx-background-color: #c6dafc;  /* 设置选中时的背景颜色 */
    -fx-text-background-color: black;
}

/*有悬浮样式的时候没用 不知道为什么*/
/*.tree-table-view .cell:selected:hover {*/
/*    -fx-background-color: #c6dafc !important;  !* 保持选中时的背景颜色，不被悬浮样式覆盖 *!*/
/*    -fx-text-background-color: black !important;  !* 保持选中时的文字颜色 *!*/
/*}*/



/*这段的样式参考javafx默认样式（modena.css）和官方文档 来修改*/
.radio-button .radio {
    -fx-border-color: #000;
    /*必须设置*/
    -fx-border-radius: 15px;
    -fx-background-color: white;
    -fx-padding: 0.333333em;
}

.radio-button:hover .radio {
    -fx-border-color: -el-color-primary;
}

/*dot的颜色是第二个，第一个会发生偏移*/
.radio-button:selected:hover > .radio > .dot {
    -fx-background-color: transparent, #003cff;
    /*-fx-background-insets: 1 0 -1 0, 0;*/
}



.graph-button{
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    /*会影响图形大小,但同时也会影响tooltip文字大小*/
    /*-fx-font-size: 12;*/
    /*snow 与 white 不是一个颜色，snow更红一点*/
}


.graph-toggle-button:hover{
    -fx-background-color: rgba(210, 210, 210, 0.9);
}


.graph-toggle-button:selected{
    -fx-background-color: rgba(210, 210, 210, 0.9);
}

.graph-toggle-button:selected>.icon, .graph-toggle-button:pressed>.icon{
    -fx-background-color: #4b4b4b;
}


.graph-button-important:hover .icon{
    -fx-background-color: -el-color-important;
}


.graph-button-important:pressed .icon{
    -fx-background-color: -el-color-important-pressed;
}


.graph-button-basic:hover .icon{
    -fx-background-color: #363636;
}


.graph-button-basic:pressed .icon{
    -fx-background-color: rgba(150, 150, 150, 0.9);
}




