/* 定义变量 */
/* 不要以"--"开头，使用时也不需要var()包裹 */
/* 参考自Element Plus */
* {

    -el-color-primary: #409eff;
    -el-color-primary-pressed: rgb(51.2, 126.4, 204);
    -el-color-plain-primary-bg: rgb(235.9, 245.3, 255);
    -el-color-plain-primary-border: rgb(159.5, 206.5, 255);

    -el-color-important: #f56c6c;
    -el-color-important-pressed: rgb(196, 86.4, 86.4);
    -el-color-plain-important-bg: rgb(254, 240.3, 240.3);
    -el-color-plain-important-border: rgb(250, 181.5, 181.5);


    -el-color-info: #909399;
    -el-color-default-text: #606266;

    -el-color-default-bg: WHITE;
    -el-color-default-active-bg: -el-color-plain-primary-bg;
    -el-color-default-border: #dcdfe6;
    -el-color-default-pressed-border: -el-color-plain-primary-border;
    -el-color-default-text: #606266;
    -el-color-default-active-text: -el-color-primary;

    -el-color-textbtn-hover-bg: #f5f7fa;
    -el-color-textbtn-active-bg: #f0f2f5;

    -el-color-textbtn-lightbg-bg: #f5f7fa;
    -el-color-textbtn-lightbg-hover-bg: #f0f2f5;
    -el-color-textbtn-lightbg-active-bg: #ebedf0;

}



