.jfx-tab-pane .tab-header-background {
    -fx-background-color: #ffffff;
}

/*点击时的波纹颜色*/
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #fc9494;
}

.jfx-tab-pane .headers-region{
    -fx-pref-height: 35;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #2d9cfd;
}
.jfx-tab-pane .headers-region {
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: #49b5fd;
    -fx-font-weight: normal;
    -fx-padding: 8 15 8 15;
    -fx-font-size: 14px;
}

/* tab的宽度 */
.jfx-tab-pane .headers-region .tab {
    -fx-pref-width: 120px;
}


.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: #2d9cfd;
}

.jfx-tree-table-view .column-header .label {
    /*-fx-text-fill: -jfx-header-color;*/
    -fx-padding: 8 0 8 0;
}

.jfx-tree-table-view .tree-table-cell{
    -fx-pref-height: 30px;

}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #00BFFF;
    -fx-text-fill: white;
}


.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #808080;
}

.jfx-text-field > .input-focused-line {
    -fx-background-color: #a103a7;
}
