


/*#helpBtn{*/
/*    -fx-background-color: transparent;*/
/*    -fx-effect: none;*/
/*    -fx-text-fill: red;*/
/*}*/




.tabBtn{
    -fx-border-radius: 0;
    -fx-background-color: transparent;
}


#addContentsBtn{
    -fx-background-color: #fd5656;
}

.text-area{
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.text-area:focused {
    /*-fx-faint-focus-color: transparent;*/
    -fx-background-color: transparent;
}

.text-area >.corner {
    -fx-background-color: white;
}

/*阴影效果*/
.out-shadow{
    -fx-effect: dropshadow(three-pass-box, #9c9c9c, 10,0,0,0);
    -fx-background-color: white;
}

.text-field{
    /*去除边框*/
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: rgba(128, 128, 128, 0.9);
}

.text-field:disabled{
    -fx-background-color: transparent;
    -fx-opacity: 0.9; /* 使控件变灰 */
    -fx-text-fill: rgba(128, 128, 128, 0.9);
}

/*下划线*/
#offsetText{
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: #909090; /* 下划线颜色 */

}


#offsetText:hover {
    /*-fx-background-color:*/
    /*        #909090,*/
    /*        #FFFFFF;*/
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: black; /* 下划线颜色 */
}

/*聚焦，聚焦并悬浮*/
#offsetText:focused, #offsetText:focused:hover {
    /*-fx-background-color:*/
    /*        #0093EF,*/
    /*        #FFFFFF;*/
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: #0093EF; /* 下划线颜色 */
}

#topPane{
    -fx-view-order: -1.0;
    -fx-background-color: #eaeaea;
}


#leftPane{
    -fx-view-order: 1.0;
    -fx-background-color: #f8f8f8;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #dfdfdf;
}

#operationPane{
    -fx-view-order: 2.0;
}

#bottomPane{
    -fx-view-order: -1.0;
    -fx-background-color: #f8f8f8;
}

.dividing-line-h{
    -fx-pref-height: 1;
    -fx-background-color: #dfdfdf;
}

.dividing-line-v{
    -fx-pref-width: 1;
    -fx-background-color: #dfdfdf;
}
