.button{
    -fx-pref-height: 35;
    -fx-font-size: 12;
    -fx-background-color: #00BFFF;
    /*snow 与 white 不是一个颜色，snow更红一点*/
    -fx-text-fill:snow;
    /*-fx-effect: dropshadow(three-pass-box, #9c9c9c, 10,0,0,0);*/
}


#helpBtn{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-effect: none;
    -fx-text-fill: red;
}



#helpIcon{
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-background-color: red;
    -fx-shape: "M512 1024c-284.444444 0-512-227.555556-512-512s227.555556-512 512-512 512 227.555556 512 512-227.555556 512-512 512z m0-68.266667c244.622222 0 443.733333-199.111111 443.733333-443.733333S756.622222 68.266667 512 68.266667 68.266667 267.377778 68.266667 512s199.111111 443.733333 443.733333 443.733333z m11.377778-694.044444c45.511111 0 85.333333 11.377778 113.777778 39.822222 28.444444 22.755556 45.511111 62.577778 45.511111 102.4 0 34.133333-11.377778 68.266667-28.444445 91.022222-5.688889 5.688889-28.444444 28.444444-62.577778 56.888889-11.377778 11.377778-22.755556 22.755556-28.444444 39.822222-5.688889 17.066667-11.377778 34.133333-11.377778 45.511112v11.377777H472.177778v-11.377777c0-28.444444 5.688889-51.2 17.066666-68.266667 11.377778-22.755556 39.822222-51.2 79.644445-91.022222l11.377778-11.377778c11.377778-17.066667 22.755556-34.133333 22.755555-51.2 0-22.755556-5.688889-45.511111-22.755555-56.888889-17.066667-17.066667-34.133333-22.755556-62.577778-22.755556-34.133333 0-56.888889 11.377778-73.955556 28.444445-11.377778 17.066667-17.066667 39.822222-17.066666 73.955555H352.711111c0-51.2 17.066667-96.711111 45.511111-125.155555 28.444444-34.133333 73.955556-51.2 125.155556-51.2zM512 688.355556c17.066667 0 28.444444 5.688889 39.822222 17.066666 11.377778 11.377778 17.066667 22.755556 17.066667 39.822222 0 17.066667-5.688889 28.444444-17.066667 39.822223-11.377778 11.377778-22.755556 17.066667-39.822222 17.066666-28.444444 0-51.2-22.755556-51.2-51.2 0-17.066667 5.688889-28.444444 17.066667-39.822222 5.688889-17.066667 22.755556-22.755556 34.133333-22.755555z";
}



.button:disabled {
    -fx-background-color: snow;
    -fx-text-fill: black;
}






#addContentsBtn{
    -fx-background-color: #fd5656;
}




/*!* 修改Tab中文本的颜色 *!*/
/*.tab-label {*/
/*    -fx-text-fill: #131313;*/
/*}*/


/*.tab:selected > .tab-label:selected {*/
/*    -fx-text-fill: snow;*/
/*}*/



/* 修改顶栏的背景颜色 */
.tab-pane>*.tab-header-area {
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #f5f5f5;
}


.text-area{
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}


.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

/*阴影效果*/
.out-shadow{
    -fx-effect: dropshadow(three-pass-box, #9c9c9c, 10,0,0,0);
    -fx-background-color: white;
}
