@import "colors.css";

*{
    -my-color-divding-line: #dfdfdf;
    -icon-size-tab: 20px;
    -icon-size-bottom-menu: 18px;
}


.text-field{
    /*去除边框*/
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: rgba(150, 150, 150, 0.9);
}

.text-field:disabled{
    -fx-background-color: transparent;
    -fx-opacity: 0.9; /* 默认有值，需修改使得没那么透明 */
    -fx-text-fill: rgba(100, 100, 100);
}

/*下划线*/
#offsetTF{
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: #909090; /* 下划线颜色 */

}


#offsetTF:hover {
    /*-fx-background-color:*/
    /*        #909090,*/
    /*        #FFFFFF;*/
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: black; /* 下划线颜色 */
}

/*聚焦，聚焦并悬浮*/
#offsetTF:focused, #offsetTF:focused:hover {
    /*-fx-background-color:*/
    /*        #0093EF,*/
    /*        #FFFFFF;*/
    -fx-border-width: 0 0 1 0; /* 只在底部添加边框 */
    -fx-border-color: #0093EF; /* 下划线颜色 */
}

#topPane{
    -fx-view-order: -1.0;
    -fx-background-color: rgba(242, 242, 242);
}


#leftPane{
    -fx-view-order: 1.0;
    -fx-background-color: #f8f8f8;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -my-color-divding-line;
}

#operationPane{
    -fx-view-order: 2.0;
    -fx-background-color: white;
}

#bottomPane{
    -fx-view-order: -1.0;
    -fx-background-color: #f8f8f8;
}


.dividing-line-h{
    -fx-min-height: 1;
    -fx-pref-height: 1;
    -fx-background-color: -my-color-divding-line;
}

.dividing-line-v{
    -fx-min-height: 1;
    -fx-pref-width: 1;
    -fx-background-color: -my-color-divding-line;
}

.icon-size-tab{
    -fx-pref-height: -icon-size-tab;
    -fx-min-height: -icon-size-tab;
    -fx-max-height: -icon-size-tab;
    -fx-pref-width: -icon-size-tab;
    -fx-min-width: -icon-size-tab;
    -fx-max-width: -icon-size-tab;
}

.icon-size-bottom-menu{
    -fx-pref-height: -icon-size-bottom-menu;
    -fx-min-height: -icon-size-bottom-menu;
    -fx-max-height: -icon-size-bottom-menu;
    -fx-pref-width: -icon-size-bottom-menu;
    -fx-min-width: -icon-size-bottom-menu;
    -fx-max-width: -icon-size-bottom-menu;
}

