name: Reusable JPackage Build

on:
  workflow_call:
    inputs:
      os_matrix:
        description: 'JSON array of OSes to build on'
        required: true
        type: string
        default: "['ubuntu-latest', 'macos-latest', 'windows-latest']"
      version:
        description: 'Version number for the build'
        required: false
        type: string
        default: 'nightly'

jobs:
  build:
    strategy:
      matrix: 
        os: ${{ fromJSON(inputs.os_matrix) }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'corretto'

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Install Dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libgtk-3-0 \
            libxtst6 \
            alsa-base \
            liboss4-salsa-asound2

      - name: Build & Package with Gradle
        shell: bash
        run: |
          if [ -n "${{ inputs.version }}" ]; then
            ./gradlew clean jpackage -Pversion="${{ inputs.version }}"
          else
            ./gradlew clean jpackage
          fi
          
      - name: Create Non-installable Archive
        if: matrix.os == 'windows-latest' || matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          OS_NAME=$(echo "${{ matrix.os }}" | sed 's/-latest//')
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            pwsh -Command "Compress-Archive -Path ./build/jpackage/QuickOutline -DestinationPath ./build/jpackage/QuickOutline-${OS_NAME}-${{ inputs.version }}.zip"
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            tar -czvf ./build/jpackage/QuickOutline-${OS_NAME}-${{ inputs.version }}.tar.gz -C ./build/jpackage/QuickOutline .
          fi

      - name: Rename artifact
        shell: bash
        run: |
          OS_NAME=$(echo "${{ matrix.os }}" | sed 's/-latest//')
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            mv ./build/jpackage/*.msi ./build/jpackage/QuickOutline-${{ inputs.version }}-${OS_NAME}.msi
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            mv ./build/jpackage/*.deb ./build/jpackage/QuickOutline-${{ inputs.version }}-${OS_NAME}.deb
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            mv ./build/jpackage/*.dmg ./build/jpackage/QuickOutline-${{ inputs.version }}-${OS_NAME}.dmg
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: QuickOutline_${{ matrix.os }}_${{ inputs.version }}
          path: ./build/jpackage/*

      - name: Stop Gradle Daemon
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: ./gradlew.bat --stop
